<form class="row g-3 p-2">
    <mat-label class="text-center fs-3 pb-2 fw-bolder" i18n="@@summary_titleSummary">Summary</mat-label>

    <fieldset class="col-12 form-group border p-2">
        <legend class="w-auto px-2 float-none" i18n="@@tenant_configuration_legend">Configuration</legend>
        <div class="row">
            <mat-label class="fs-3 pb-2 fw-bolder" i18n="@@summary_titleSummary">Tenant name: Prueba</mat-label>
            <mat-label class="fs-3 pb-2 fw-bolder" i18n="@@summary_titleSummary">Tenant email: Prueba</mat-label>
            <mat-label class="fs-3 pb-2 fw-bolder" i18n="@@summary_titleSummary">Tenant email: Prueba</mat-label>
        </div>
    </fieldset>

    <fieldset class="col-12 form-group border p-2">
        <legend class="w-auto px-2 float-none" i18n="@@tenant_configuration_legend">Configuration</legend>
        <div class="row">
            <mat-label class="fs-3 pb-2 fw-bolder" i18n="@@summary_titleSummary">Tenant name: Prueba</mat-label>
            <mat-label class="fs-3 pb-2 fw-bolder" i18n="@@summary_titleSummary">Tenant email: Prueba</mat-label>
            <mat-label class="fs-3 pb-2 fw-bolder" i18n="@@summary_titleSummary">Tenant email: Prueba</mat-label>
        </div>
    </fieldset>

    <fieldset class="col-12 form-group border p-2">
        <legend class="w-auto px-2 float-none" i18n="@@tenant_configuration_legend">Configuration</legend>
        <div class="row">
            <mat-label class="fs-3 pb-2 fw-bolder" i18n="@@summary_titleSummary">Tenant name: Prueba</mat-label>
            <mat-label class="fs-3 pb-2 fw-bolder" i18n="@@summary_titleSummary">Tenant email: Prueba</mat-label>
            <mat-label class="fs-3 pb-2 fw-bolder" i18n="@@summary_titleSummary">Tenant email: Prueba</mat-label>
        </div>
    </fieldset>
</form>