mat-form-field {
    width: 100%;
}

form {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
}

@media (max-width: 767px) {
    .main_container {
        height: 100%;
    }

    button{
        width: 50%!important;
    }
}